<!DOCTYPE html>
<html>
<body>
<head>
	<title>ABOUT US | SAMVEDNA</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  	<link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
	  <link rel="stylesheet" href="/ngo.css">
</head>

<body>
<header class="header-fixed">
	<div class="header-limiter">
		<h1><a href="/home">Sam<span>Vedna</span></a></h1>
		<nav>
			<a href="/home">Home</a>
			<a href="/contactus">Contact Us</a>
		</nav>
	</div>
</header>
<div class="about-us">
	<h1>About Us</h1>
	<hr class="hr1">
	<p>To contain the spread of coronavirus in the world’s second-ranked most populous country, the government of India has made the toughest decision - a nationwide lockdown.</p>
	<p>How would I feed my family when there isn’t any work to earn money? - the question every daily wager of this country had when the government announced nationwide lockdown.</p>
	<p>However, individuals, NGOs, religious organizations, and the government acted too quickly and started ensuring that no one would sleep with an empty belly.</p>
	<p>However, WHO has received overwhelming pro-bono support from software companies to fight the COVID-19 pandemic. Desai's Solutions, one of the best IT companies in Surat, came forward with an initiative of the <span style="color: blue;"> SamVedna </span>WebApp.</p>
	<p><span style="color: blue;"> SamVedna </span>app is a technology solution for less-privileged people who are struggling for food and privileged people who are struggling to provide them with a portion of food without jeopardizing safety.</p>
	<p>We employ technology within this app where any citizen or NGO can donate food without leaving home. Coruscate’s app development team <span style="color: blue;">18DCE020 NIMIT DESAI,18DCE021 NISHANT DESAI,18DCE013 SHAIL CHOKSI </span>was so proactive that they built a solution in record-breaking hours and fueled their CEO’s belief. In essence, the current situation demands an aligned human alertness and technology serviceability!</p>
</div>
</body>
</html>