<!DOCTYPE html>
<html>
<body>
<head>
	<title>SAMVEDNA</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  	<link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
  	<link rel="stylesheet" href="/app.css">
</head>

<body>
<header class="header-fixed">
	<div class="header-limiter">
		<h1><a href="/home">Sam<span>Vedna</span></a></h1>
		<nav>
			<a href="/home">Home</a>
			<a href="/aboutus">About us</a>
			<a href="/contactus">Contact Us</a>
			<a href="/login">Login</a>
		</nav>
	</div>
</header>

<div class="middle">
	<img src="./images/home_img.jpg">
	<p id="id1">FOOD THAT REACHES THE NEEDY</p>
	<p id="id2">DONATE AND HELP</p>
	<a href="/login" class="btn btn-outline-primary">Join us Today</a>
</div>
<p style="margin-top: 20px; text-align: center; font-size: 35px; color: black; padding-top: 20px;">
	OUR RECENT CHARITABLE DONATION IN COVID-19 PADEMIC
</p>
<hr style="text-align: center; width: 1000px; border: 2px dotted cadetblue;">
<div class="container">
	<img src="./images/delhi-2.jpg" alt="Notebook" style="width:100%;">
	<div class="content">
	  <h1>FOOD DONATION FOR SHRAMIK TRAIN</h1>
	  <p>The SamVedna has distributed more than 8.5 lakh meals since 28 March 2020. This has been achieved with the active cooperation of IRCTC base kitchens.
	</p>
	</div>
  </div>
  <div class="container">
	<img src="./images/ranchi_(3).jpg" alt="Notebook" style="width:100%;">
	<div class="content">
	  <h1>RELIEF FUND FOR RURAL AREA</h1>
	  <p>As the COVID-19 crisis continues to loom over us, The Government of India has taken a strict combat measure by directing a lockdown of the entire nation. At this great hour of need, The SamVedna Foundation, in close coordination with State Governments & District Administration, has stepped in to provide relief by providing food to thousands of people across the country.</p>
	</div>
  </div>
  <div class="container">
	<img src="./images/192.jpg" alt="Notebook" style="width:100%;">
	<div class="content">
	  <h1>Shri Saibaba Sansthan Trust</h1>
	  <p>The Shri Saibaba Sansthan Trust, Shirdi (Ahmednagar), donated Rs. 51 crore to the Chief Minister’s Relief Fund in Maharashtra. In addition, the SSST is providing free food to all patients and their relatives at the Shri Sainath Hospital, Shirdi Orphanages, old age homes, a school for deaf and dumb, destitute and needy, police personnel and others through the Shri Sai Prasadalaya.</p>
	</div>
  </div>
  <div class="container">
	<img src="./images/surat.jpg" alt="Notebook" style="width:100%;">
	<div class="content">
	  <h1>MISSION MILLION KHICHDI</h1>
	  <p>We embarked upon our journey of feeding daily wage workers during COVID-19 on 29th March. Within three days with the help of DP’s Fast Food chain of restaurants with we set 4 kitchens at Matunga, Dadar, Chembur and Ghatkopar.</p>
	</div>
  </div>
  <div class="footer">
	  <p>
		Copyright © 2020 by SamVedna Charitable Trust. All rights reserved.
	  </p>
  </div>
</body>
</html>